<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcpmail.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="rcpmail.Perspective"
            id="rcpmail.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/silk/email_edit.png"
            class="rcpmail.View"
            id="rcpmail.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/silk/server.png"
            class="rcpmail.NavigationView"
            id="rcpmail.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="rcpmail.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="rcpmail.category"
            id="rcpmail.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="rcpmail.category"
            id="rcpmail.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="rcpmail.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="rcpmail.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="rcpmail-03.application"
            name="RCP Product">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="product_lg.gif"/>
         <property
               name="windowImages"
               value="icons/silk/email.png">
         </property>
         <property
               name="appName"
               value="RCP Mail 2.0">
         </property>
         <property
               name="startupForegroundColor"
               value="808080">
         </property>
         <property
               name="startupMessageRect"
               value="33,220,402,15">
         </property>
         <property
               name="startupProgressRect"
               value="33,242,402,7">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
